xml-resources/jaxb/ApplicationSchemaBinder/DataModel.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="types">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="oracletype" use="optional"/>
                      <xs:attribute type="xs:string" name="javatype" use="optional"/>
                      <xs:attribute type="xs:short" name="length" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="choiceLists">
          <xs:complexType>
            <xs:sequence>
               <xs:element name="choiceList" maxOccurs="unbounded" minOccurs="0">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="elements">
                       <xs:complexType>
                         <xs:sequence>
                           <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                             <xs:complexType>
                               <xs:simpleContent>
                                 <xs:extension base="xs:string">
                                   <xs:attribute type="xs:string" name="name" use="optional"/>
                                   <xs:attribute type="xs:string" name="description" use="optional"/>
                                   <xs:attribute type="xs:short" name="position" use="optional"/>
                                 </xs:extension>
                               </xs:simpleContent>
                             </xs:complexType>
                           </xs:element>
                       </xs:sequence>
                     </xs:complexType>
                   </xs:element>
                 </xs:sequence>
                 <xs:attribute type="xs:string" name="name" use="optional"/>
                 <xs:attribute type="xs:string" name="description" use="optional"/>
               </xs:complexType>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
       </xs:element>
        <xs:element name="tables">
          <xs:complexType>
            <xs:sequence>
               <xs:element name="table" maxOccurs="unbounded" minOccurs="0">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="fields">
                       <xs:complexType>
                         <xs:sequence>
                           <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                             <xs:complexType>
                               <xs:simpleContent>
                                 <xs:extension base="xs:string">
                                   <xs:attribute type="xs:string" name="name" use="optional"/>
                                   <xs:attribute type="xs:string" name="type" use="optional"/>
                                   <xs:attribute type="xs:string" name="searchable" use="optional"/>
                                   <xs:attribute type="xs:string" name="nullable" use="optional"/>
                                   <xs:attribute type="xs:string" name="description" use="optional"/>
                                   <xs:attribute type="xs:string" name="valuerange" use="optional"/>
                                   <xs:attribute type="xs:string" name="reference" use="optional"/>
                                   <xs:attribute type="xs:string" name="searchablewith" use="optional"/>
                                   <xs:attribute type="xs:string" name="unique" use="optional"/>
                                   <xs:attribute type="xs:string" name="primarykey" use="optional"/>
                                   <xs:attribute type="xs:string" name="searchablestandalone" use="optional"/>
                                   <xs:attribute type="xs:string" name="javaName" use="optional"/>
                                   <xs:attribute type="xs:string" name="SQLName" use="optional"/>
                                   <xs:attribute type="xs:string" name="javaType" use="optional"/>
                                   <xs:attribute type="xs:string" name="SQLType" use="optional"/>
                                   <xs:attribute type="xs:string" name="memberOfReference" use="optional"/>
                                   <xs:attribute type="xs:string" name="listname" use="optional"/>
                                   <xs:attribute type="xs:string" name="editable" use="optional"/>
                                   <xs:attribute type="xs:string" name="visible" use="optional"/>
                                   <xs:attribute type="xs:string" name="label" use="optional"/>
                                   <xs:attribute type="xs:string" name="searchfield" use="optional"/>
                                   <xs:attribute type="xs:short" name="javaLength" use="optional"/>
                                 </xs:extension>
                               </xs:simpleContent>
                             </xs:complexType>
                           </xs:element>
                       </xs:sequence>
                     </xs:complexType>
                   </xs:element>
                 </xs:sequence>
                 <xs:attribute type="xs:string" name="name" use="optional"/>
                 <xs:attribute type="xs:string" name="description" use="optional"/>
                 <xs:attribute type="xs:string" name="history" use="optional"/>
                 <xs:attribute type="xs:string" name="memberof" use="optional"/>
                 <xs:attribute type="xs:string" name="mtm" use="optional"/>
                 <xs:attribute type="xs:string" name="flexibleattribute" use="optional"/>
                 <xs:attribute type="xs:string" name="visible" use="optional"/>
                 <xs:attribute type="xs:string" name="javaClassName" use="optional"/>
                 <xs:attribute type="xs:string" name="javaObjectName" use="optional"/>
                 <xs:attribute type="xs:string" name="SQLName" use="optional"/>
                 <xs:attribute type="xs:string" name="label" use="optional"/>
               </xs:complexType>
             </xs:element>
           </xs:sequence>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>

